<div class="container-fluid" style="background-color: rgb(40, 1, 65)">
      <nav class="navbar navbar-expand-lg rounded-3 container">
        <a class="navbar-brand ms-3" href="#">Weather</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon text-white" style="color: white;"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link ms-3" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="weather">Weather</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ms-3" href="about">About Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>